:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: var(--primary-bg); */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
.menu-container {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    /* background-color: rgb(100, 91, 180); */

}


.sidebar-menu {


}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px   20px;
  background-color: rgb(204, 190, 190);
  background-color: #bebbbb;
  max-width: 320px;
  
  position: relative;

}


.sidebar-menu::before{
  
    /* content: ''; */
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
  }

  .sidebar-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: var(--speed) ease;
  }
  
  .sidebar-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: var(--speed) ease;
  }


  .content-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .content-wrapper{
    position: relative;

  }

  .dpn{
    display: none;
  }

  .dpf{
    display: flex;
  }

  .parents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(204, 190, 190); */
    /* background-color: #bebbbb; */
    max-width: 320px;
    
    position: relative;
  
  }

  
  .content-item{

    /* margin: 50px 0; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .content-item__name{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--secondary-text-color);
    margin: 50px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }



  .content-item__father{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--secondary-text-color);
    /* margin: 50px 0; */
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-item__mother{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--secondary-text-color);
    margin: 50px 0;
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-item__spouse{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--secondary-text-color);
    margin: 50px 0;
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-item__sibling{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--secondary-text-color);
    margin: 50px 0;
      text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

